<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule ^$ public/ [L]
  RewriteRule ((?!(public/)).*)$ public/$1 [L]
</IfModule>

<FilesMatch "\.(php|php5|phtml|inc|env|log|sql)$">
  Order Allow,Deny
  Deny from all
</FilesMatch>

<FilesMatch "^(composer\.json|composer\.lock|package\.json|\.travis\.yml|\.gitignore|README\.md)$">
  Order Allow,Deny
  Deny from all
</FilesMatch>
